@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
@{
}
<div class="row">
    <div class="col-6 p-2">
        <input type="submit" class="btn btn-info form-control" asp-route-id="@Model" value="Upadte" />
    </div>
    <div class="col-6 p-2">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>